/*
  Contents:
    Base
    Site container
    Masthead
    Thumbnail
    Post
    Pagination
    Footer
    Menu
    Code
    Tables
    Social media icons
*/

/*
  Base
*/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

html, html[data-theme="light"] { 
	  --light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
		  --light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(21, 32, 43);
  		--main-text-color: rgb(229, 229, 234);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(29, 35, 52);
  		--main-text-color: rgb(229, 229, 234);
	}
	
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    border: none;
    background-color: #192734;
  }

  body .gist .highlight {
    background: #1d1f21;
  }

  body .gist .blob-num,
  body .gist .blob-code-inner {
      color: #1d1f21;
  }

  body .gist .pl-enti {
      color: #f0c674;
      font-weight: 700;
  }

  body .gist .pl-s3 {
      color: #81a2be;
  }

  body .gist .pl-sf {
      color: #dad085;
  }

  body .gist .pl-mdr {
      color: #de935f;
      font-weight: 400;
  }

  body .gist .pl-ms1 {
      background: #c5c8c6;
  }

  body .gist .pl-c,
  body .gist .pl-c span,
  body .gist .pl-pdc {
      color: #969896;
      font-style: italic;
  }

  body .gist .pl-c1,
  body .gist .pl-cce,
  body .gist .pl-cn,
  body .gist .pl-coc,
  body .gist .pl-enc,
  body .gist .pl-ens,
  body .gist .pl-kos,
  body .gist .pl-kou,
  body .gist .pl-mh .pl-pdh,
  body .gist .pl-mq,
  body .gist .pl-pdc1,
  body .gist .pl-pde,
  body .gist .pl-pse,
  body .gist .pl-pse .pl-s2,
  body .gist .pl-scp,
  body .gist .pl-stp,
  body .gist .pl-sv,
  body .gist .pl-v,
  body .gist .pl-vi,
  body .gist .pl-vpf,
  body .gist .pl-mri,
  body .gist .pl-va,
  body .gist .pl-vpu {
      color: #de935f;
  }

  body .gist .pl-cos,
  body .gist .pl-ml,
  body .gist .pl-pds,
  body .gist .pl-s1,
  body .gist .pl-sol {
      color: #b5bd68;
  }

  body .gist .pl-e,
  body .gist .pl-ef,
  body .gist .pl-en,
  body .gist .pl-enf,
  body .gist .pl-enm,
  body .gist .pl-entc,
  body .gist .pl-eoi,
  body .gist .pl-smc {
      color: #f0c674;
  }

  body .gist .pl-ent,
  body .gist .pl-eoa,
  body .gist .pl-eoai,
  body .gist .pl-eoai .pl-pde,
  body .gist .pl-k,
  body .gist .pl-ko,
  body .gist .pl-kolp,
  body .gist .pl-mc,
  body .gist .pl-mr,
  body .gist .pl-ms,
  body .gist .pl-s,
  body .gist .pl-mp .pl-s3,
  body .gist .pl-sok,
  body .gist .pl-sra,
  body .gist .pl-src,
  body .gist .pl-sre,
  body .gist .pl-st {
      color: #b294bb;
  }

  body .gist .pl-entm,
  body .gist .pl-eoac,
  body .gist .pl-eoac .pl-pde,
  body .gist .pl-mai .pl-sf,
  body .gist .pl-mm,
  body .gist .pl-pdv,
  body .gist .pl-som,
  body .gist .pl-sr,
  body .gist .pl-vo {
      color: #c66;
  }

  body .gist .pl-mb,
  body .gist .pl-pdb {
      color: #b5bd68;
      font-weight: 700;
  }

  body .gist .pl-mi,
  body .gist .pl-pdi {
      color: #b294bb;
      font-style: italic;
  }

  body .gist .pl-mp,
  body .gist .pl-mp1 .pl-sf {
      color: #81a2be;
  }

  body .gist .pl-s2,
  body .gist .pl-sc,
  body .gist .pl-smi,
  body .gist .pl-smp,
  body .gist .pl-stj,
  body .gist .pl-mo,
  body .gist .pl-entl {
      color: #c5c8c6;
  }

  body .gist .pl-mi1,
  body .gist .pl-mdht {
      color: #8f9d6a;
      background: rgba(0, 64, 0, .5);
  }

  body .gist .pl-md,
  body .gist .pl-mdhf {
      color: #c66;
      background: rgba(64, 0, 0, .5);
  }

  body .gist .pl-mdh,
  body .gist .pl-mdi {
      color: #c66;
      font-weight: 400;
  }

  body .gist .pl-ib,
  body .gist .pl-iu {
      background: #c66;
  }

  body .gist .pl-id,
  body .gist .pl-ii {
      background: #c66;
      color: #fff;
  }
}

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: var(--main-text-color);
  line-height: 1.75rem;
  background-color: var(--main-background-color);
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: var(--light-text-color); 
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

a:hover {
  color: var(--light-text-color);
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid var(--light-text-color);
  color: var(--link-color);
  line-height: 1.5;
}

hr {
  border-top: 1px solid var(--main-text-color);
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 615px;
}

/*48em*/

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Quattrocento Sans", sans-serif;
}

.masthead a:hover {
  color: var(--light-text-color);
}

.masthead-title .switch {
  float: right;
}

.masthead-title a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--link-color);
}

.masthead-subtitle {
  color: var(--light-text-color);
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: var(--light-text-color);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: var(--main-text-color);
}

.pagination-active:hover {
  background-color: var(--light-text-color);
  color: var(--main-background-color);
}

/*
  Footer
*/

.footer {
  color: var(--light-text-color);
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: var(--light-text-color);
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: var(--main-text-color);
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: var(--light-text-color);
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: var(--light-text-color);
  font-size: 1rem;
}

@media (max-width: 30em) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Code
*/

code,
pre {
  font-family: "Source Code Pro", monospace;
}
code {
  padding: .25em .5em;
  font-size: .8rem;
  background-color: var(--main-background-color); 
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--main-background-color);
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Horizontal code overflow fix */
pre.highlight {
  white-space: pre;
  overflow-x: auto;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: "Source Code Pro", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table, th, td {
  border: 1px solid var(--main-text-color);
}

th, td {
  padding: 15px;
  text-align: left;
}

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-youtube {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-youtube:hover {
	color: red;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}

@media (prefers-color-scheme: light) {

  body .gist .gist-file {
    margin-bottom: 0;
    border: 0px #adb5bd;
    border-radius: 20;
  }

  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
  }

  body .gist .highlight {
    background: #f1f3f5;
  }

  body .gist .blob-num,
  body .gist .blob-code-inner,
  body .gist .pl-s1 .pl-s2,
  body .gist .pl-smi,
  body .gist .pl-smp,
  body .gist .pl-stj,
  body .gist .pl-vo,
  body .gist .pl-vpf {
      color: #657b83;
  }

  body .gist .pl-c,
  body .gist .pl-c span {
      color: #93a1a1;
      font-style: italic;
  }

  body .gist .pl-mb {
      color: #2aa198;
      font-weight: 700;
  }

  body .gist .pl-mh .pl-en {
      color: #cb4b16;
      font-weight: 700;
  }

  body .gist .pl-mi {
      color: #859900;
      font-style: italic;
  }

  body .gist .pl-c1,
  body .gist .pl-pds,
  body .gist .pl-s1,
  body .gist .pl-s1 .pl-pse .pl-s2,
  body .gist .pl-sv {
      color: #2aa198;
  }

  body .gist .pl-e,
  body .gist .pl-en,
  body .gist .pl-ent,
  body .gist .pl-s,
  body .gist .pl-v {
      color: #268bd2;
  }

  body .gist .pl-k,
  body .gist .pl-mdh,
  body .gist .pl-mdr,
  body .gist .pl-ml,
  body .gist .pl-mm,
  body .gist .pl-mo,
  body .gist .pl-mp,
  body .gist .pl-mr,
  body .gist .pl-ms,
  body .gist .pl-s1 .pl-v,
  body .gist .pl-s3 {
      color: #859900;
  }

  body .gist .pl-mh,
  body .gist .pl-sc,
  body .gist .pl-sr .pl-cce {
      color: #cb4b16;
  }

  body .gist .pl-mq,
  body .gist .highlight-source-css .pl-k {
      color: #93a1a1;
  }

  body .gist .pl-sr,
  body .gist .pl-sr .pl-sra,
  body .gist .pl-sr .pl-sre,
  body .gist .pl-src {
      color: #d30102;
  }

  body .gist .pl-st,
  body .gist .highlight-source-c\+\+ .pl-s {
      color: #dc322f;
  }

  body .gist .pl-mi1,
  body .gist .pl-mdht {
      color: #657b83;
      background: rgba(0, 64, 0, .5);
  }

  body .gist .pl-md,
  body .gist .pl-mdhf,
  body .gist .pl-id,
  body .gist .pl-ii {
      color: #657b83;
      background: rgba(64, 0, 0, .5);
  }
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  display: none;
}

body .gist .gist-meta {
  display: none;
}

body .gist .blob-code {
    filter: hue-rotate(90deg);
}
  
@import "theme-toggle"