/*
  Contents:
    Base
    Site container
    Masthead
    Thumbnail
    Post
    Pagination
    Footer
    Menu
    Code
    Tables
    Social media icons
*/

/*
  Base
*/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

html, html[data-theme="light"] { 
	  --light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
		  --light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(21, 32, 43);
      --main-text-color: rgb(229, 229, 234);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(29, 35, 52);
  		--main-text-color: rgb(229, 229, 234);
	}
	
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
  }
}

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: var(--main-text-color);
  line-height: 1.75rem;
  background-color: var(--main-background-color);
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: var(--light-text-color); 
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

a:hover {
  color: var(--light-text-color);
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid var(--light-text-color);
  color: var(--link-color);
  line-height: 1.5;
}

hr {
  border-top: 1px solid var(--main-text-color);
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 615px;
}

/*48em*/

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Quattrocento Sans", sans-serif;
}

.masthead a:hover {
  color: var(--light-text-color);
}

.masthead-title .switch {
  float: right;
}

.masthead-title a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--link-color);
}

.masthead-subtitle {
  color: var(--light-text-color);
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: var(--light-text-color);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: var(--main-text-color);
}

.pagination-active:hover {
  background-color: var(--light-text-color);
  color: var(--main-background-color);
}

/*
  Footer
*/

.footer {
  color: var(--light-text-color);
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: var(--light-text-color);
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: var(--main-text-color);
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: var(--light-text-color);
  font-size: 1rem;
  padding-right: 10px;
}

.menu-content a:hover {
color: var(--link-color);
font-weight: 200;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: var(--light-text-color);
  font-size: 1rem;
}

@media (max-width: 30em) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Code
*/

code,
pre {
  font-family: "Source Code Pro", monospace;
}
code {
  padding: .25em .5em;
  font-size: .8rem;
  background-color: var(--main-background-color); 
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--main-background-color);
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Horizontal code overflow fix */
pre.highlight {
  white-space: pre;
  overflow-x: auto;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table, th, td {
  border: 1px solid var(--main-text-color);
}

th, td {
  padding: 15px;
  text-align: left;
}

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-youtube {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-youtube:hover {
	color: red;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}

.adsbygoogle {
  margin-top: 12px;
  margin-bottom: 12px;
}
  
@import "theme-toggle"
