.theme-toggle {
  position: relative;
  width: 57.1px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: auto;
  transition: 0.3s cubic-bezier(0.4, 0.03, 0, 1);
  float: right;
 /* Toggle */
}
.theme-toggle label, .theme-toggle .toggle {
  border-radius: 100px;
}
.theme-toggle label {
  display: block;
  background-color: rgba(120, 120, 120, .15);
  cursor: pointer;
}
.theme-toggle .toggle {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.theme-toggle .names {
  font-size: 1em;
  font-weight: bolder;
  width: 76%;
  margin-left: 12%;
  position: relative;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.theme-toggle .dark {
  opacity: 0.5;
}
.theme-toggle p {
  color: #acacac;
  margin-bottom: 0;
  line-height: 24px;
}
.theme-toggle [type="checkbox"] {
  display: none;
}
.theme-toggle [type="checkbox"]:checked ~ label .toggle {
  transform: translateX(100%);
  background-color: #34323d;
}
.theme-toggle [type="checkbox"]:checked ~ label .dark {
  opacity: 1;
}
.theme-toggle [type="checkbox"]:checked ~ label .light {
  opacity: 0.5;
}
